<!DOCTYPE html>
<html>
  <head>
    <title>Signup | Vakilsearch</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      body {
        background-image: url('https://source.unsplash.com/1600x900/?nature,water');
        background-size: cover;
      }
      .container {
         margin-top: 100px;
        border-radius: 10px;
        padding: 30px;
       
       
      }
      h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
        text-align: center;
      }
      form {
        max-width: 500px;
        margin: 0 auto;
      }
      .form-group label {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .form-control {
        font-size: 1.2rem;
        border-radius: 0;
      }
      .btn-primary {
        font-size: 1.2rem;
        border-radius: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Signup</h1>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>
    
    <!-- Include jQuery and Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script>
      $(document).ready(function() {
        $('form').submit(function(event) {
          event.preventDefault();
          // Get form data
          var name = $('#name').val();
          var email = $('#email').val();
          var password = $('#password').val();
          // Save data to localStorage
          localStorage.setItem('user', JSON.stringify({name: name, email: email, password: password}));
          // Redirect to login page
          window.location.href = 'login.html';
        });
      });
    </script>
  </body>
</html>
