<!DOCTYPE html>
<html>
<head>
  <title>VakilSearch Students Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    h1 {
      text-align: center;
      color: black;
    }
    h1 span:nth-child(1) {
      color: red;
    }
    h1 span:nth-child(2) {
      color: green;
    }
    h1 span:nth-child(3) {
      color: blue;
    }
    h1 span:nth-child(4) {
      color: pink;
    }  
    img {
      display: block;
      margin: auto;
      max-width: 50%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    body {
      background-color: orange;
    }
    .ml-auto {
      margin-left: auto !important;
    }
    .btn {
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <h1><span>Welcome</span> <span>to</span> <span>VakilSearch</span> <span>ROR</span> <span>Team</span></h1>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-success" href="/students/new">Add Student Data</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" href="/students">See Students Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <img src="https://media-fastly.hackerearth.com/media/hackathon/vakilsearch-ruby-on-rails-hiring-challenge/images/c2a0b9fc-cbe8-11e4-afff-22000aaca7fb-cover2.jpg" alt="Image description">
  </div>
  <%# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> %>
</body>
</html>
